- var custom = {};

doctype html

include _mixins
include _mixins_forms

block html
  //if lt IE 7
    html#html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='es')
  //if IE 7
    html#html.no-js.ie7.lt-ie9.lt-ie8(lang='es')
  //if IE 8
    html#html.no-js.ie8.lt-ie9(lang='es')
  //if IE 9
    html#html.no-js.ie9.lt-ie10(lang='es')

  //[if gt IE 9]><!
  html#html(lang='es')
    //<![endif]
    head
      title #{custom.title||''}#{(custom.title)? ' - ' : ''}#{ config.metas.title }
      meta( charset='utf-8' )
      meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
      meta( name='description', content='' )
      meta( name="viewport",content="width=device-width,initial-scale=1.0")
      meta( name='description', content!=config.metas.title)
      meta( name='keywords', content!=config.metas.keywords )
      //- base(href!=config.static_url(''))
      link( rel='icon', type='image/png', href!=config.static_url('images/favicon/favicon.ico') )
      link(rel='apple-touch-icon', sizes='57x57', href!=config.static_url('images/favicon/apple-touch-icon-57x57.png') )
      link(rel='apple-touch-icon', sizes='60x60', href!=config.static_url('images/favicon/apple-touch-icon-60x60.png') )
      link(rel='apple-touch-icon', sizes='72x72', href!=config.static_url('images/favicon/apple-touch-icon-72x72.png') )
      link(rel='apple-touch-icon', sizes='76x76', href!=config.static_url('images/favicon/apple-touch-icon-76x76.png') )
      link(rel='apple-touch-icon', sizes='114x114', href!=config.static_url('images/favicon/apple-touch-icon-114x114.png') )
      link(rel='apple-touch-icon', sizes='120x120', href!=config.static_url('images/favicon/apple-touch-icon-120x120.png') )
      link(rel='icon', type='image/png', href!=config.static_url('images/favicon/favicon-32x32.png'), sizes='32x32')
      link(rel='icon', type='image/png', href!=config.static_url('images/favicon/favicon-96x96.png'), sizes='96x96')
      link(rel='icon', type='image/png', href!=config.static_url('images/favicon/favicon-16x16.png'), sizes='16x16')
      link(rel='manifest', href!=config.static_url('images/favicon/manifest.json') )
      meta(name='msapplication-TileColor', content='#ffffff')
      meta(name='theme-color', content='#ffffff')
      link(href='http://fonts.googleapis.com/css?family=Ruda:400,700,900', rel='stylesheet', type='text/css')
      //-link(rel='stylesheet', href='https://i.icomoon.io/public/temp/f58f9329d8/UntitledProject/style.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css') 
      block styles
        link(href!=config.static_url('styles/main.css'), rel='stylesheet')
      //-+tracking
    body#body(class=custom.body_cls ? custom.body_cls:'')
      #container
        //- Inicio de contenido
        block main-content
          //- Inicio de header
          block header
            include includes/_header

          //- Fin de header

          .content
            //- Inicio de contenido
            block content
            //- Fin contenido

          //- Inicio Footer
          block footer
            include includes/_footer
          //- Fin footer
      //- Fin de contenido
      block addons
        //-+social(['fb','tw'])
      
      block scripts
