mixin input(config)
  .row
    .statement
      label(class="label", for="#{config.name}")=config.label
      <?php echo $this->formInput($this->form->get('#{config.name}'));?>
    .error-wrapper
      <?php echo $this->formElementErrors()->setMessageOpenFormat('<label for="#{config.name}" class="error"><a href="javascript:void(0)" title="')->setMessageSeparatorString(' ')->setMessageCloseString('">&nbsp;</a></label>')->render($this->form->get('#{name}'));?>

mixin select(config)
  .row
    .statement
      label(class="label", for="#{config.name}")=config.label
      <?php echo $this->formElement($this->form->get('#{config.name}'));?>
    .error-wrapper
      <?php echo $this->formElementErrors()->setMessageOpenFormat('<label for="#{config.name}" class="error"><a href="javascript:void(0)" data-error="')->setMessageSeparatorString(' ')->setMessageCloseString('">&nbsp;</a></label>')->render($this->form->get('#{config.name}'));?>

mixin checkbox(config)
  .row
    .statement
      <?php echo $this->formElement($this->form->get('#{config.name}')); ?>
      label(class="label", for="#{config.name}")=config.label
      if config.link
        a(href!="<?php echo config.link.href?>", target="_blank")=config.link.text
    .error-wrapper
      <?php echo $this->formElementErrors()->setMessageOpenFormat('<label for="#{config.name}" class="error"><a href="javascript:void(0)" data-error="')->setMessageSeparatorString(' ')->setMessageCloseString('">&nbsp;</a></label>')->render($this->form->get('#{config.name}'));?>

mixin field(args)
  .form-element
    label.form-label=args.placeholder ? args.placeholder : null
    input.form-control(
      type=args.type ? args.type : 'text'
      name=args.name ? args.name : null
      value=args.value ? args.value : null
      class=attributes.class
      id=attributes.id ? attributes.id : null)
    
//- placeholder=args.placeholder ? args.placeholder : null

mixin textarea(args)
  label.form-label=args.placeholder ? args.placeholder : null
  textarea.form-control(
    name=args.name ? args.name : null
    class=attributes.class
    id=attributes.id ? attributes.id : null)= args.value ? args.value : null

mixin labelled-textarea(args)
  .form-group
    label(for=attributes.id ? attributes.id : null).col-sm-3!= args.label
    .col-sm-9
      +textarea(args)(id=attributes.id,class=attributes.class)

mixin button(args)
  button.btn(
    type=args.type ? args.type : 'button'
    class=attributes.class ? attributes.class : 'btn-default')= args.buttonlabel
    i.icon-arrow-left

mixin upload(args)
  .field-upload
    input(
      type='file'
      name=args.name
      class=attributes.class
      id=attributes.id ? attributes.id : null)
    if args.note
      .form-note= args.note