extend ../_layout

prepend html
  - custom.title = 'Articulo'
  - custom.body_cls = 'Article-body'

block content
  .row
    .large-12.Default-Content 
      .Header-Content
        h2.Build-Title  
          i.vineta.icon-blog
          span Blog

      .Body-Content 
        .row.Body-Content-Article 
          .large-8.large-centered
            .Blog-Resume-Title
              .Article-SubTitle <?php echo $article->titulo; ?>
              .Article-Date Fecha: <?php echo $article->fecha_creacion; ?>

            .Article-Image
              img(src!="<?php echo base_url().$article->imagen; ?>") 
            
            .Article-Description

              <?php echo $article->contenido; ?>

block scripts
  +requireTag('site.default')