extend ../_layout

prepend html
  - custom.title = 'Blog'
  - custom.body_cls = 'Blog-body'

block content
  .row
    .large-12.Default-Content 
      .Header-Content
        h2.Build-Title 
          i.vineta.icon-blog
          span Blog

      .Body-Content 
        .row.Body-Content-Blog 
          <?php foreach ($news as $new) { ?>
          .large-6.small-12.Blog-New
            .Blog-Image
              img(src!="<?php echo base_url().$new->thumb; ?>")
            .Blog-Resume
              .Blog-Title <?php echo $new->titulo; ?>
              .Blog-Date Fecha: <?php echo $new->fecha_creacion; ?>
              p.Blog-Description <?php echo $this->tools->wordlimit(strip_tags($new->contenido), 26); ?>
              a.Btn-Default(href!="/blog/<?php echo $new->url.'-'.$new->id; ?>")
                i.icon-eye
                span VER MÁS
          <?php }?>

      .Body-Content 
        .row.Body-Loader 
          a.Btn-Load(href="javascript:;") 
            i.icon-arrow-bottom
            span cargar 
              br 
              | más
            i.icon-arrow-bottom

block scripts
  +requireTag('site.blog')
