extend ../_layout

prepend html
  - custom.title = 'Cartera de Edificios'
  - custom.body_cls = 'Build-body'

block content
  .row
    .large-12.Default-Content 
      .Header-Content
        h2.Build-Title
          i.vineta.icon-builds
          span.Build-Title-Text Cartera de Edificios

  .row.Build-Grid
    //-.large-12
    .large-8
      #maps(width='770',
        style='display:block;height:406px') 
        //- Cargando ...
    
    <?php foreach ($proyectos as $proyecto) { ?>
    .large-4
      a.Button-Home(href!="<?php echo base_url();?>cartera-de-edificios/<?php echo $proyecto->url; ?>")
        .Home-Image-Content
          span.Home-Rest
            h3 <?php echo $proyecto->oficinas; ?>
            p Oficinas
            i.home-arrow
          img(src!="<?php echo base_url().$proyecto->imagen; ?>")
        .Home-Text-Content.Builds-Item-Summary 
          h3 <?php echo $proyecto->proyecto." ".$proyecto->nombre; ?>
          p <?php echo $this->tools->wordlimit($proyecto->descripcion, 18); ?>
    <?php }?>

block scripts
  +requireTag('site.builds')
  script(src='//maps.googleapis.com/maps/api/js')
