extend ../_layout

prepend html
  - custom.title = 'Edificios'
  - custom.body_cls = 'Build-body'

block content
  .row
    .large-12.Default-Content 
      .Header-Content.Build-Header
        h2.Build-Title
          i.vineta.icon-builds.left
          small cartera de edificios
          span <?php echo $edificio->proyecto." ".$edificio->nombre; ?>

  .row
    .large-4.small-12.Build-Description 
      h3 DIRECCIÓN:
      p <?php echo $edificio->direccion." ".$edificio->ubicacion; ?>

      h3 INFORMACIÓN GENERAL:
      p <?php echo $edificio->descripcion; ?>

      h3 CUENTA CON:
      ul 
        <?php $items = explode("\n", $edificio->caracteristicas); ?>
        <?php foreach ($items as $item) { ?>
        li - <?php echo $item; ?>
        <?php } ?>

      p
        a.Button-Contact.Btn-Build(href!="<?php echo base_url();?>contacto")
          i.icon-phone
          span Contáctenos

    .large-8.small-12.Build-Content-Slider 
      .Build-Slider
        <?php foreach ($banners as $banner) { ?>
        img(src!="<?php echo base_url().$banner->archivo; ?>")
        <?php }?>

  .row
    .large-12.small-12.Build-Separate 
      .Build-Float
        #officesEquipment 
      #maps.Build-Map(width='790') Cargando ...

  .row
    .large-12
      br
      select#offices.custom-select(name="offices")
      br

    .large-6.small-12#price 
      h3.Build-Subtitle
        small Precio:
        span -
      img(src="http://placehold.it/480x470")

    .large-6.small-12#area
      h3.Build-Subtitle
        small Área:
        span -
      img(src="http://placehold.it/480x470")

block scripts 
  +requireTag('site.build')
  script(src='//maps.googleapis.com/maps/api/js')
