extend ../_layout

prepend html
  - custom.title = 'Contacto'
  - custom.body_cls = 'Contact-body'

block content
  .row
    .large-12.Default-Content 
      .Header-Content
        h2.Build-Title   
          i.vineta.icon-email
          span Contáctenos

      .Body-Content
        .large-8.medium-12.small-12.Form-Content
          form#info-contact.Custom-Form.large-10.large-centered.Contact-Form(name="contact-form", action="/contacto/enviar", enctype="multipart/form-data")
            .large-5.medium-5.small-12
              +field({ type: 'text', name: 'fullname', value: '', placeholder: 'Nombres:' })
              +field({ type: 'text', name: 'lastname', value: '', placeholder: 'Apellidos:' })
              +field({ type: 'text', name: 'email', value: '', placeholder: 'Tu email:' })
              +field({ type: 'text', name: 'phone', value: '', placeholder: 'Número telefónico:' })

            .large-5.medium-5.small-12
              +field({ type: 'text', name: 'subject', value: '', placeholder: 'Asunto:' }) 
              +textarea({ name: 'message',  placeholder: 'Tu mensaje:'  })
              +button({ buttonlabel: 'Enviar', type: 'submit', id: '#buttonSend'}).Btn-Default.Btn-Contact

            .Form-Requirements
              p (*) Campos obligatorios
        
        .large-4.medium-12.small-12
          
          #maps(width='390',
            style='display:block;height:190px') Cargando ...

          .Place-Location
            p Oficina Bambú:
            p Calle Ricardo Angulo 745 Of 205 Corpac - San Isidro 

          .Place-Information
            strong Teléfono: 
            p 01 224-1175 

            strong Correo Electrónico: 
            p administracion@inmobiliariabambu.com 

            strong Redes Sociales:

          ul.Social-Links 
            li 
              a.icon.icon-fb(href="https://www.facebook.com/Inmobiliaria-Bambu-645092928845365/?pnref=lhc", target="_blank")
                i.fa.fa-facebook
            li 
              a.icon.icon-tw(href="https://twitter.com/InmobiliaBambu", target="_blank")
                i.fa.fa-twitter
            li 
              a.icon.icon-pt(href="http://www.pinterest.com/inmobiliabambu/", target="_blank")
                i.fa.fa-pinterest-p
            li 
              a.icon.icon-yt(href="http://www.youtube.com/channel/UCxhUgLVIW0bDmsSSV5itmcw", target="_blank")
                i.fa.fa-youtube
            li 
              a.icon.icon-inst(href="https://www.instagram.com/bambuinmuebles/", target="_blank")
                i.fa.fa-instagram
    
    .Thanks-Content.hide#Contact-Content
      h4 Mensaje Enviado
      p Pronto te atenderemos y daremos una respuesta al Correo Electrónico que has registrado.
      a.Button-Continue
        span Continuar

block scripts
  +requireTag('site.contact')
  script(src='https://maps.googleapis.com/maps/api/js')
  