extend ../_layout

prepend html
  - custom.title = 'FAQ'
  - custom.body_cls = 'Faq-body'

block content
  .row
    .large-12.Default-Content 
      .Header-Content  
        h2.Build-Title  
          i.vineta.icon-faq 
          span FAQ

      .Body-Content  
        h3 Área Legal

        h4 1 ¿Cuál es el costo promedio de pago mensual por mantenimiento y arbitrios?

        strong Arbitrios:
        p El costo aproximado de arbitrios es de S/. 70.00

        strong Mantenimiento:
        p El costo de mantenimiento varía de acuerdo al metraje de la oficina y el distrito en que se encuentre.

        p Edificio Premiere: (San Isidro).
        p Edificio Principal: (San Isidro) S/. 3.00 por metro cuadrado incluido IGV.
        p Edificio Gálvez: (San Isidro) S/. 5.25 por metro cuadrado incluido IGV.
        p Edificio Parque Norte: ( San Isidro) S/. 9.35 por metro cuadrado incluido IGV.
        p Edificio Bel Air: (San Borja).
        p Edificio Ferreyros: (San Isidro) S/. 8.50 por metro cuadrado incluido IGV.
        p Edificio Santa María: (San Isidro) S/. 4.48 por metro cuadrado incluido IGV.
        p Edificio San Agustín: (San Isidro) S/. 1.19 por metro cuadrado incluido IGV.
        p Edificio Quiñones: (San Isidro) S/. 4.24 por metro cuadrado incluido IGV.
        p Edificio Alfonso Ugarte: (Miraflores) S/. 4.00 por metro cuadrado incluido IGV.

        h4 2 ¿Qué requisitos debo cubrir para firmar el contrato?

        p Copia simple de DNI o documento de identidad válido de la persona que firma el contrato.
        p En caso de personas jurídicas: Testimonio de constitución de la empresa, vigencia de poder del representante o ficha registral de inscripción de la empresa en registros públicos.
        p DNI o documento de identidad válido de fiador de la persona o empresa arrendataria.
        p Pago de 2 meses de renta en calidad de garantía y 1 mes de renta pagada por adelanto.
        p Otros documentos que pueda considerar la empresa (no se aplica en todos los casos).

        p * Como regla general, salvo que la empresa (Bambu) establezca otras condiciones, la presencia de un fiador (garante) es indispensable.


        h4 3 ¿Es necesaria la presencia de un fiado o letra de cambio para firmar el contrato?

        p Bambú orientará al interesado para que se acerque a la municipalidad, a fin de que en función al índice de usos y zonificación sea determinado si el inmueble puede ser utilizado para tienda y oficina.


        h4 4 ¿Cuánto tiempo dura el contrato?

        p Una vez que el interesado consulta en la municipalidad sobre la compatibilidad de uso, en el contrato que se suscribe con Bambú se establecerá el uso que puede dársele al inmueble.



        h3 Proyectos

        h4 1 ¿Cuáles son los horarios de trabajo para atención sobre implementación?

        p Los horarios son:

        p De lunes a viernes: De 7:00 am. a 5:00 pm.
        p Sábados: De 7:00 am. A 12:00 pm.
        p Los trabajos que involucran ruidos molestos o nocivos se realizarán solo de 12 a 2 pm. Y solo en caso de el Edificio Gálvez de 1 a 3pm.

        p Pasos a seguir:

        p Deberá presentar una carta de responsabilidad y/o Seguro SCTR sobre los trabajadores o contratistas que ingresarán al inmueble
        p Deberá comunicar a la inmobiliaria relación de trabajadores con DNI indicando cronograma de trabajos y entregar una copia a la recepción.
        p El personal deberá utilizar en todo momento su equipo de protección personal (EPP).
        p Bajo ninguna circunstancia se procederá a perforar techos, pisos o efectuar trabajos que originen un riesgo estructural.
        p Los trabajos realizados deberán de cumplir con las Normas de Seguridad en Defensa Civil vigentes para la certificación de ITTSDC de áreas Comunes del Edificio. Requisito indispensable para que puedan obtener su licencia de funcionamiento y certificado de Defensa Civil de Detalle.


        h4 2 ¿Necesito de un permiso para colocar mobiliario en áreas comunes?

        strong Sí.

        strong PARA INSTALACION DE EQUIPOS EN ÁREAS COMUNES - AZOTEA

        ul.Faq-List 

          li El acceso a la azotea para la Instalación de Equipos tendrá que ser solicitado por escrito y firmado por el representante legal. Esta solicitud deberá ser entregada junto con el Proyecto.

          li El Proyecto deberá contar con un plano indicando la(s) posibles ubicaciones del equipo, cableado y/o entubado (adicionar datos técnicos del equipo, así como los métodos de montaje).

          li La evaluación del Proyecto junto con la evaluación del Acceso a la Azotea demora 48 horas aproximadamente.

          li Una vez aprobado el proyecto deberá proporcionarse la siguiente información: • Cronograma de ejecución. • Relación de trabajadores, copia de DNI y Seguro Complementario contra todo riesgo.

          li El personal deberá utilizar en todo momento su equipo de protección personal (EPP).

          li Los trabajos se podrán realizar de lunes a viernes de 7:00 am a 5:00 pm y sábados de 7:00am a 12:00pm.

          li Los trabajos que involucren ruidos molestos y/o nocivos “solo” se podrán realizar de lunes a viernes de 12:00 pm a 2:00 pm (En caso del edificio Gálvez será “solo” de 1:00pm a 3:00pm).

          li Bajo ninguna circunstancia se procederá a perforar techos, pisos o efectuar trabajos que originen un Riesgo Estructural.

          li Los trabajos realizados deberán de cumplir con las Normas de Seguridad en Defensa Civil vigentes para la certificación de ITSDC de áreas Comunes del Edificio. Requisito indispensable para que puedan obtener su Licencia de Funcionamiento y Certificado de Defensa Civil de Detalle.

        strong PARA MANTENIMIENTO Y/O REPARACION DE EQUIPOS EN ÁREAS COMUNES - AZOTEA

        ul.Faq-List 

          li El acceso de la azotea para el Mantenimiento y/o reparación de equipos tendrá que ser solicitado por escrito y firmado por el representante legal 48 horas antes, se deberá indicar el tipo de trabajo a realizar.

          li Una vez aprobado el mantenimiento y/o reparación del equipo deberá proporcionarse la siguiente información: • Cronograma de ejecución. • Relación de trabajadores, copia de DNI y Seguro Complementario contra todo riesgo.

          li El personal deberá utilizar en todo momento su equipo de protección personal (EPP).

          li Los trabajos se podrán realizar de lunes a viernes de 7:00 am a 5:00 pm y sábados de 7:00am a 12:00pm.

          li Los trabajos que involucren ruidos molestos y/o nocivos “solo” se podrán realizar de lunes a viernes de 12:00 pm a 2:00 pm (En caso del edificio Gálvez será “solo” de 1:00pm a 3:00pm).

          li Bajo ninguna circunstancia se procederá a perforar techos, pisos o efectuar trabajos que originen un riesgo estructural.

          li Los trabajos realizados deberán de cumplir con las Normas de Seguridad en Defensa Civil vigentes para la certificación de ITSDC de áreas Comunes del Edificio. Requisito indispensable para que puedan obtener su licencia de funcionamiento y certificado de Defensa Civil de Detalle.


        h4 3. Sobre la Licencia de funcionamiento ¿Cuál es el procedimiento de entrega de certificados de oficina?

        p Lorem ipsum Pariatur irure ea ea eiusmod ut in dolor est nulla anim dolore tempor Excepteur reprehenderit aute adipisicing est. 

Esta supeditado a estar al día en sus pagos de mantenimiento y alquiler. Entregamos:

Protocolo de pozo tierra.
Certificado de áreas comunes (INDECI).
block scripts
  +requireTag('site.default')
