extend ../_layout

prepend html
  - custom.title = 'Home'
  - custom.body_cls = 'Home-body'

block content
  .Boton-Home
    .row.Footer-Header
      .large-12
        h2.Logo
          img(src!=config.static_url('images/logos/main-logo.svg'), alt="Bambu", width="310", height="90")
          
  .row
    .large-12.Home-Content-Slider
      .Home-Slider
        - for (var i = 0; i < 3; ++i)
          a.Home-Slider-Item(href="#")
            img(src!=config.static_url('images/banner.jpg'), alt="Bambu", width="1190", height="480")

  .row
    .large-8.small-12.Home-Grid
      h2.Home-Title 
        i.vineta.icon-builds
        span Cartera de Edificios

      <?php $c=0; ?>
      - for (var i = 0; i < 2; ++i)  
        .large-6.medium-6.small-12
          a.Button-Home(href!="<?php echo base_url();?>cartera-de-edificios")
            .Home-Image-Content
              span.Home-Rest
                h3 <?php echo $proyectos[$c]->oficinas; ?>
                p Oficinas
                i.home-arrow
              img(src!="<?php echo $proyectos[$c]->imagen; ?>")
            .Home-Text-Content
              h3 <?php echo $proyectos[$c]->proyecto." ".$proyectos[$c]->nombre; ?>
              p <?php echo $this->tools->wordlimit($proyectos[$c]->descripcion, 18); ?>
        <?php $c++; ?>
        .large-6.medium-6.small-12
          a.Button-Home(href!="<?php echo base_url();?>cartera-de-edificios")
            .Home-Image-Content
              span.Home-Rest
                h3 <?php echo $proyectos[$c]->oficinas; ?>
                p Oficinas
                i.home-arrow
              img(src!="<?php echo $proyectos[$c]->imagen; ?>")
            .Home-Text-Content    
              h3 <?php echo $proyectos[$c]->proyecto." ".$proyectos[$c]->nombre; ?>
              p <?php echo $this->tools->wordlimit($proyectos[$c]->descripcion, 18); ?>
        <?php $c++; ?>

    .large-4.small-12
      h2.Home-Title 
        i.vineta.icon-logo
        span Zona bambú
        
      ul 
      each val, index in [['Sala Directorio', 'sala-directorio', '01_SalaDirectorio_thumb'], ['Sala Bambú', 'sala-bambu', '02_SalaBambu_thumb'], ['Zona Gourmet', 'zona-gourmet', '03_ZonaGourmet_thumb'], ['Zona Chill Out', 'zona-chill-out', '04_ZonaChillOut_thumb'], ['Otros Servicios', undefined, '05_OtrosServicios_thumb']]
        if val[1] !== undefined 
          a.Button-Home(href!="<?php echo base_url();?>zona-bambu##{val[1]}") 
            .Home-Image-Content
              img(src= 'static/images/servicios/' + '#{val[2]}.jpg', alt="#{val[0]}")
            .Home-Subtitle-Content
              h4 #{val[0]}
        else 
          .Button-Home
            .Home-Image-Content
              img(src= 'static/images/servicios/' + '#{val[2]}.jpg', alt="#{val[0]}")
            .Home-Subtitle-Content
              h4 #{val[0]}

block scripts
  +requireTag('site.home')
