extend ../_layout

prepend html
  - custom.title = 'Pre-Home'
  - custom.body_cls = 'pre-home-body'

block content
  .pre-home-wrapper
    h1 
      | Prehome

block scripts
  +requireTag('site.prehome') 