extend ../_layout

prepend html
  - custom.title = 'Registro'
  - custom.body_cls = 'register-body'

block content
  .register-wrapper
    <?php $form = $this->form; ?>
    <?php $form->setAttribute('action', $this->url('register')); ?>
    <?php $form->prepare(); ?>
    <?php echo $this->form()->openTag($form);?>
    <?php echo $this->formRow($this->form->get('secret'));?>
    +input({'wrapperClss':'row-name','name':'first_name','label':'Nombres'})
    +input({'wrapperClss':'row-last-name','name':'last_name','label':'Apellidos y Nombres'})
    +input({'wrapperClss':'row-dni','name':'dni','label':'Dni'})
    +input({'wrapperClss':'row-email','name':'email','label':'Correo'})
    +input({'wrapperClss':'row-phone','name':'phone','label':'Teléfono'})
    +select({'wrapperClss':'row-cod-dpto','name':'cod_dpto','label':'Departamento'})
    +select({'wrapperClss':'row-cod-prov','name':'cod_prov','label':'Provincia'})
    +select({'wrapperClss':'row-cod-dist','name':'cod_dist','label':'Distrito'})
    +checkbox({'wrapperClss':'row-tyc','name':'tyc','label':'Acepto','link':{'text':'Terminos y Condiciones', 'href':'config.reverse_url(""terms"")'}})
    +button({'wrapperClss':'row-submit','name':'submit_btn'})

block scripts
  +requireTag('site.register')