extend ../_layout

prepend html
  - custom.title = 'Términos y Condiciones'
  - custom.body_cls = 'terms-body'

block content
  .terms-wrapper
    | Terminos y condiciones

block scripts
  +requireTag('site.register')