extend ../_layout

prepend html
  - custom.title = '¿Quiénes somos?'
  - custom.body_cls = 'Who-body'

block content
  .row
    .large-12.Default-Content 
      .Header-Content  
        h2.Build-Title   
          i.vineta.icon-who
          span ¿Quiénes somos?
      
      .Body-Content 
        .row
          .large-12 
            a.Btn-Default(href!="<?php echo base_url();?>contacto")
              i.icon-phone
              span Contactenos

        .Body-Content-Who.Who-List

          h3 BAMBU INMUEBLES Y OFICINAS

          p Somos un grupo de empresas inmobiliarias, especializadas  en el alquiler oficinas y locales comerciales, estratégicamente ubicados en la zona de San Isidro y Miraflores, con tarifas accesibles  y acompañadas de una infraestructura de servicios administrativos inmobiliarios a disposición de nuestros clientes.

          p Nuestro espíritu emprendedor,  aferrado a sus raíces, y flexible a los tiempos, nos permiten desde hace más de 40 años, desarrollar  con pasión  y solidez  nuestros propios proyectos inmobiliarios, con propuestas arquitectónicas prácticas y desafiantes. Proyectos que hoy son los edificios que albergan  las oficinas y locales comerciales que actualmente alquilamos  y administramos.

          p Estos  espacios son  adecuados permanentemente  a las exigencias de la vanguardia inmobiliaria y posibilitan el desarrollo de los negocios de cada uno de los más de 200 clientes que  nos acompañan, y con los que hemos crecido juntos.

          p Estamos comprometidos en mantener vivo este espíritu emprendedor y visionario; creando y desarrollando espacios generadores de éxito para usted y sus negocios….

          p Nuestra especialidad es brindar a nuestros clientes 
            b espacios  
            | apropiados en la forma de alquiler, acompañados de una  infraestructura de servicios administrativos inmobiliarios, para asistirlos y asesorarlos eficazmente en: Gestión de Licencias Municipales y otros Trámites de Indeci Mantenimiento y Administración en Inmuebles Servicio de postventa en Inmuebles Un beneficio único y exclusivo para nuestros clientes ZONA BAMBU.

        .Body-Content-Who.Who-List

          p Email:  
            span administracion@inmobiliariabambu.com
          p Nuestra estructura administrativa a su servicio:
          p Central:   
            span 224-1175
          p Proyectos y  Mantenimiento :   
            span 224-1175 Anexo 20 
          p Legal :   
            span 224- 1175  Anexo 16   
          p Contable :   
            span 224-1175 Anexo 13 y 15
          p Marketing :   
            span 224 1175  Anexo 21

block scripts
  +requireTag('site.default')