extend ../_layout

prepend html
  - custom.title = 'Zona Bambu'
  - custom.body_cls = 'Zone-body'

block content
  .row
    .large-12.Default-Content 
      .Header-Content  
        h2.Build-Title  
          i.vineta.icon-logo
          span Zona Bambú

  .row
    .large-4.small-12.Build-Description.Body-Content 
      .Zone-Description
        p Zona Bambú pone a su disposición sus elegantes instalaciones con todas las comodidades y tecnología de punta para la total satisfacción de ustedes, nuestros clientes. Un espacio creado para brindarle la oportunidad de llevar a cabo sus eventos en un ambiente acogedor, exclusivo, con tecnología de punta y un servicio altamente profesional y personalizado.
   
        p Zona Bambú ha sido diseñada bajo el concepto de la experiencia combinando los negocios con el entretenimiento; un espacio en donde usted podrá llevar sus negocios a otro nivel.
   
        p Un lugar especial con servicios implementados exclusivamente para uso y comodidad de los clientes de Bambú, Inmuebles y Oficinas.

        p Cuenta con ambientes confortables para reuniones de negocios, implementados con:
        
        ul 
          li - WIFI en toda la zona.
          li - Sala de video juegos.
          li - Equipos Audiovisuales.
          li - Kit de Eventos.
          li - Personal hotelero altamente capacitado.

        ul 
          li Teléfono: (511) 224 1175 Anexo 21
          li Whatsapp: 994 – 221 - 572
          li Correo: zonabambu@inmobiliariabambu.com

      .Zone-Social
        h3.Zone-Social-Copy Entérate de  nuestras actividades en la página de facebook
        a.Button-Here(href='//www.facebook.com/ZONA-BAMBU-550409148442922/?fref=ts', target='_blank') 
          i.icon-logo  
          span aquí
    
    .large-8.small-12 
      #maps(width='790',
        style='display:block;height:400px') Cargando ...

  .row
    .large-12 
      h4.Zone-SubTitle.Zone-SubTitleService litado de servicios
      ul.Zone-List
        each val, index in [['Sala Directorio', 'sala-directorio', '01_SalaDirectorio_thumb'], ['Sala Bambú', 'sala-bambu', '02_SalaBambu_thumb'], ['Zona Gourmet', 'zona-gourmet', '03_ZonaGourmet_thumb'], ['Zona Chill Out', 'zona-chill-out', '04_ZonaChillOut_thumb'], ['Otros Servicios', 'javascript(void);', '05_OtrosServicios_thumb'], ['', '']]
          if val[2] !== undefined
            li.Zone-Item.large-4.small-12
              a(href!="<?php echo base_url();?>zona-bambu##{val[1]}") 
                img(src= 'static/images/servicios/' + '#{val[2]}.jpg', alt="#{val[0]}")
                .Home-Subtitle-Content
                  h4 #{val[0]}
          else 
            li.Zone-Item.large-4.small-12
              p 

  mixin article(id, anchor, title, content, capacity, area, itemone, itemtwo, itemthree, itemfour, itemfive, itemsix, imageone, imagetwo, imagethree, imagefour, imagefive, imagesix, imageseven, audio)
      .row.Zone-Row(id= anchor)
        .large-4.small-12.medium-12.Zone-Services.Body-Content
          h4.Zone-SubTitleService= title
          p.Zone-Text= content
          ul.Zone-Text-List 
            li= capacity
            li= area

          p.Zone-Text Incluye
          ul.Zone-Text-List 
            li= itemone
            if itemtwo !== undefined
              li= itemtwo
            if itemthree !== undefined
              li= itemthree
            if itemfour !== undefined
              li= itemfour
            if itemfive !== undefined
              li= itemfive
            if itemsix !== undefined
              li= itemsix

          .medium-6
            .Zone-Audio
              if audio !== undefined 
                span.Zone-Consult Reproducir audio
                audio(id= audio)
                  source(src!=config.static_url('sounds/' + audio + '.ogg'))
                  source(src!=config.static_url('sounds/' + audio + '.mp3'))

                div.Zone-Controls(id= id)
                  a.Zone-Audio-Play
                    i 
                  a.Zone-Audio-Pause(style="display:none")
                    i 
                  a.Zone-Audio-Stop
                    i 
              else 
                p 

          .medium-6
            span.Zone-Consult Si tiene alguna consulta, no dude en contactarnos.
            a.Button-Contact(href!="<?php echo base_url();?>contacto")
              i.icon-phone 
              span 
                | Contactenos

        .large-8.medium-12.small-12
          .Zone-Slider.slider-mask
            img(src!=config.static_url('images/zona-bambu/'+imageone), alt= title)
            if imagetwo !== undefined
              img(src!=config.static_url('images/zona-bambu/'+imagetwo), alt= title)
            if imagethree !== undefined
              img(src!=config.static_url('images/zona-bambu/'+imagethree), alt= title)
            if imagefour !== undefined
              img(src!=config.static_url('images/zona-bambu/'+imagefour), alt= title)
            if imagefive !== undefined
              img(src!=config.static_url('images/zona-bambu/'+imagefive), alt= title)
            if imagesix !== undefined
              img(src!=config.static_url('images/zona-bambu/'+imagesix), alt= title)
            if imageseven !== undefined
              img(src!=config.static_url('images/zona-bambu/'+imageseven), alt= title)

  +article(
    'directorio',
    'sala-directorio',
    'Sala Directorio', 
    'Sala equipada con tecnología de punta, especial y acogedora para celebrar la firma de contratos, alianzas estratégicas, conversatorio, etc.', 
    'Capacidad 35 pesonas', 
    'Área: 84m2',
    'Proyector 3D',
    'Ecran Automático',
    'TV 52”',
    'Sistema de sonido',
    'Smart board',
    'Terraza',
    '01_Sala-Directorio/01_Sala-Directorio.jpg',
    undefined,
    undefined,
    undefined,
    undefined,
    undefined,
    undefined,
    '01_sala_directorio'
    )

  +article(
    'bambu',
    'sala-bambu',
    'Sala Bambú', 
    'Sala destinada para reuniones institucionales, celebración de juntas, conferencias, lanzamiento de producto y/o cualquier evento institucional que su empresa desee realizar.', 
    'Capacidad 45 pesonas', 
    'Área: 54m2',
    'Proyector 3D',
    'Ecran automático',
    'Sistema de sonido',
    'Smartboard',
    undefined,
    undefined,
    '02_Sala-Bambu/01_SalaBambu.jpg',
    '02_Sala-Bambu/02_SalaBambu.jpg',
    '02_Sala-Bambu/03_SalaBambu.jpg',
    undefined,
    undefined,
    undefined,
    undefined,
    '02_sala_bambu'
    )

  +article(
    'gourmet',
    'zona-gourmet',
    'Zona Gourmet', 
    'Zona destinada a reuniones institucionales, charlas, lanzamiento de producto, agasajos, almuerzo, coffee break, cenas, cocteles agasajos para los colaboradores, celebración de juntas, charlas, etc.', 
    'Capacidad 8-12 pesonas', 
    'Área: 27m2',
    'Proyector 3D',
    'Micrófono',
    'Ecran automático',
    'Coffee shop',
    'Galería superior',
    undefined,
    '03_Zona-Gourmet/01_ZonaGourmet.jpg',
    '03_Zona-Gourmet/02_ZonaGourmet.jpg',
    '03_Zona-Gourmet/03_ZonaGourmet.jpg',
    '03_Zona-Gourmet/04_ZonaGourmet.jpg',
    '03_Zona-Gourmet/05_ZonaGourmet.jpg',
    '03_Zona-Gourmet/06_ZonaGourmet.jpg',
    '03_Zona-Gourmet/07_ZonaGourmet.jpg',
    '03_zona_gourmet'
    )

  +article(
    'chill-out',
    'zona-chill-out',
    'ZONA CHILL OUT', 
    'Zona destinada al entretenimiento de nuestros clientes, para que los coffee breaks sean un verdadero break. Por eso, contamos con Xbox y PlayStation para disfrutar del tiempo libre con los compañeros de trabajo y vivir la experiencia Bambú.',
    undefined,
    undefined,
    'Xbox',
    'PlayStation',
    '2 TV 42”',
    undefined,
    undefined,
    undefined,
    '04_Zona-Chill-Out/01_ZonaChillOut.jpg',
    '04_Zona-Chill-Out/02_ZonaChillOut.jpg',
    '04_Zona-Chill-Out/03_ZonaChillOut.jpg',
    '04_Zona-Chill-Out/04_ZonaChillOut.jpg',
    '04_Zona-Chill-Out/05_ZonaChillOut.jpg'
    )

block scripts
  +requireTag('site.zone')
  script(src='//maps.googleapis.com/maps/api/js')