﻿/* glue: 0.9.4 hash: 5aacee002e */
        .logo-white,
.prev-button,
.next-button,
.btn-top,
.zone_bambu,
.who_is,
.faq,
.contact,
.center,
.btn-send,
.blog {
            background-image: url('../sprites/shapes.png?5aacee002e');
            background-repeat: no-repeat;
        }
        
        .logo-white {
            background-position: -10px -10px;
            width: 135px;
            height: 39px;
        }
        
        .prev-button {
            background-position: -10px -69px;
            width: 70px;
            height: 111px;
        }
        
        .next-button {
            background-position: -165px -10px;
            width: 70px;
            height: 111px;
        }
        
        .btn-top {
            background-position: -100px -69px;
            width: 45px;
            height: 45px;
        }
        
        .zone_bambu {
            background-position: -165px -141px;
            width: 30px;
            height: 30px;
        }
        
        .who_is {
            background-position: -100px -134px;
            width: 30px;
            height: 30px;
        }
        
        .faq {
            background-position: -10px -200px;
            width: 30px;
            height: 30px;
        }
        
        .contact {
            background-position: -60px -200px;
            width: 30px;
            height: 30px;
        }
        
        .center {
            background-position: -110px -200px;
            width: 30px;
            height: 30px;
        }
        
        .btn-send {
            background-position: -160px -200px;
            width: 30px;
            height: 30px;
        }
        
        .blog {
            background-position: -215px -141px;
            width: 20px;
            height: 16px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .logo-white,
    .prev-button,
    .next-button,
    .btn-top,
    .zone_bambu,
    .who_is,
    .faq,
    .contact,
    .center,
    .btn-send,
    .blog {
                background-image: url('../sprites/shapes.png?5aacee002e');
                -webkit-background-size: 245px 240px;
                -moz-background-size: 245px 240px;
                background-size: 245px 240px;
            }
        }
        