.footer 
  .row

    a.Button-Top(href="#")
      .icon-top.icon-arrow-top 

    .large-3.medium-6.small-12
      h3 
        i.icon-builds
        span Cartera de Edificios
      <?php foreach ($edificios as $edificio) { ?>
      a(href!="/cartera-de-edificios/<?php echo $edificio->url; ?>") <?php echo $edificio->proyecto." ".$edificio->nombre; ?>
      <?php }?>

    .large-3.small-12
      h3 
        i.icon-logo
        span Zona Bambú

      each val, index in [['Sala Directorio', 'sala-directorio'], ['Sala Bambú', 'sala-bambu'], ['Zona Gourmet', 'zona-gourmet'], ['Zona Chill Out', 'zona-chill-out'], ['Otros Servicios', '#']]
        a(href!="<?php echo base_url();?>zona-bambu##{val[1]}") #{val[0]}
    
    .large-3.medium-6.small-12
      h3 
        i.icon-phone
        span Contáctenos

      strong 
        | Oficina Bambú:
      p
        | Calle Ricardo Angulo 745 Of 205 Corpac - San Isidro 
      strong 
        | Teléfono: 
      p
        | 01 224-1175 
      strong 
        | Correo Electrónico: 
      p
        | administracion@inmobiliariabambu.com  
      
      ul.Social-Links 
        li 
          a.icon.icon-fb(href="https://www.facebook.com/Inmobiliaria-Bambu-645092928845365/?pnref=lhc", target="_blank")
            i.fa.fa-facebook
        li 
          a.icon.icon-tw(href="https://twitter.com/InmobiliaBambu", target="_blank")
            i.fa.fa-twitter
        li 
          a.icon.icon-pt(href="http://www.pinterest.com/inmobiliabambu/", target="_blank")
            i.fa.fa-pinterest-p
        li 
          a.icon.icon-yt(href="http://www.youtube.com/channel/UCxhUgLVIW0bDmsSSV5itmcw", target="_blank")
            i.fa.fa-youtube
        li 
          a.icon.icon-inst(href="https://www.instagram.com/bambuinmuebles/", target="_blank")
            i.fa.fa-instagram
                    
    .large-3.small-12
      h3 
        i.icon-email
        span Suscríbete al Newsletter
      p Déjanos tu correo y te enviaremos información de nuestras actividades y notas de interes.

      form.Suscribe-Form(action='', method='POST', enctype='multipart/form-data', target='myframe')
        +field({ type: 'email', name: 'emailSuscribe', value: '', placeholder: 'nombre@correo.com' })
        +button({ buttonlabel: '', type: 'submit'}).Button-Send
  
  .Thanks-Content.hide#Thanks-Content
    h4 ¡Gracias!
    p Su correo ha sido suscrito al Newsletter, pronto recibirás noticias y novedades sobre Zona Bambú y nuestras actividades.
    a.Button-Continue
      span Continuar

  //script.
    //var fn = jade.compile()
    console.log(({links:links.directory}));
