.header.Top-Home
  .row.Top-Header
    .Menu-Sandwich
      a.Menu-Responsive

    .large-12
      h1.Logo-Text
        | Comodidad y confianza
        span.logo-white
        //-img.logo-white(src!=config.static_url('images/logos/logo-white.svg'), alt="Bambu", width="200", height="90")
      
      a.Hide-Home(href="/")
        .logo-white
        //-img.logo-white(src!=config.static_url('images/logos/logo-white.svg'), alt="Bambu", width="200", height="90")

      .Menu
        .First-Nav.Menu-Default
          each val, index in [['Menu-Buildings','cartera-de-edificios','icon-builds','Cartera de Edificios'],['Menu-Zone','zona-bambu','icon-logo','Zona-Bambu'], ['Menu-Blog','blog','icon-blog','Blog']]
            a(class="#{val[0]}", href!="<?php echo base_url();?>#{val[1]}", title="#{val[3]}")
              i.icon(class="#{val[2]}")
              span #{val[3]}

        .Second-Nav.Menu-Default
          each val, index in [['Menu-Who','quienes-somos','icon-who','¿Quiénes Somos?'],['Menu-Faq','preguntas-frecuentes','icon-faq','FAQ'], ['Menu-Contact','contacto','icon-phone','Contáctenos']]
            a(class="#{val[0]}", href!="<?php echo base_url();?>#{val[1]}", title="#{val[3]}")
              i.icon(class="#{val[2]}")
              span #{val[3]}
      
