@import '../../bower_components/jeet/stylus/jeet'
@import '../../bower_components/rupture-by-jenius/rupture/' 

//edit()
  
.row
  center(60em)
  padding 0
  margin 0 auto
  > div
    //display inline-block
    position relative
  img 
    width 100% 
    
.column
  padding-left 0.625em
  padding-right 0.625em
  width 100%
  //float left
     
//grid 

.large-1
  col(1/12)

.large-2
  col(2/12)

.large-3
  col(3/12)

.large-4
  col(4/12)

.large-5
  col(5/12)

.large-6
  col(6/12)

.large-7
  col(7/12)

.large-8
  col(8/12)

.large-9
  col(9/12)

.large-10
  col(10/12)

.large-11
  col(11/12)

.large-12
  col(12/12)
  
.large-centered
  margin auto
  float none
  &:last-child
    margin-right auto
    

//Grid Rupture
// Desktop
.col_2  
  +above(_measure_tablet)
    col(2/12)
    
.col_3
  +above(_measure_tablet)
    col(3/12)
    
.col_4
  +above(_measure_tablet)
    col(4/12)
    
.col_5
  +above(_measure_tablet)
    col(5/12)
    
.col_6
  +above(_measure_tablet)
    col(6/12)
    
.col_7
  +above(_measure_tablet)
    col(7/12)
    
.col_8
  +above(_measure_tablet)
    col(8/12)
    
.col_9
  +above(_measure_tablet)
    col(9/12)
    
.col_10
  +above(_measure_tablet)
    col(10/12)
    
.col_11
  +above(_measure_tablet)
    col(11/12)
    
.col_12
  +above(_measure_tablet)
    width 100%
    

// tablet
.medium-2  
  +between(_measure_mobile, _measure_tablet)
    col(2/12)
    
.medium-3
  +between(_measure_mobile, _measure_tablet)
    col(3/12)
    
.medium-4
  +between(_measure_mobile, _measure_tablet)
    col(4/12)
    
.medium-5
  +between(_measure_mobile, _measure_tablet)
    col(5/12)
    
.medium-6
  +between(_measure_mobile, _measure_tablet)
    col(6/12)
    
.medium-7
  +between(_measure_mobile, _measure_tablet)
    col(7/12)
    
.medium-8
  +between(_measure_mobile,_measure_tablet)
    col(8/12)
    
.medium-9
  +between(_measure_mobile,_measure_tablet)
    col(9/12)
    
.medium-10
  +between(_measure_mobile,_measure_tablet)
    col(10/12)
    
.medium-11
  +between(_measure_mobile,_measure_tablet)
    col(11/12)
    
.medium-12
  +between(_measure_mobile,_measure_tablet)
    width 100%
    
// mobile
.small-2  
  +below(_measure_mobile)
    col(2/12)
.small-3
  +below(_measure_mobile)
    col(3/12)
.small-4
  +below(_measure_mobile)
    col(4/12)
.small-5
  +below(_measure_mobile)
    col(5/12)
.small-6
  +below(_measure_mobile)
    col(6/12)
.small-7
  +below(_measure_mobile)
    col(7/12)
.small-8
  +below(_measure_mobile)
    col(8/12)
.small-9
  +below(_measure_mobile)
    col(9/12)
.small-10
  +below(_measure_mobile)
    col(10/12)
.small-11
  +below(_measure_mobile)
    col(11/12)
.small-12
  +below(_measure_mobile)
    width 100%
    