.Body-Content-Blog 
  .large-6
    display inline-block
    margin 10px auto 20px
    border-bottom 1px solid _grey_tiny 

.Blog-Image
  col(6/12)
  width 190px
  height auto
  display inline-block

.Blog-Resume
  margin-bottom 10px
  col(6/12)
  .Btn-Default
    i 
      margin 0 0 0 10px  
    span
      display inline-block
      
.Blog-Resume-Title
  border-bottom 2px solid _grey_tiny 
  width 100% 
  padding-bottom 20px
  margin-bottom 20px

.Blog-Title
  font-size 1.5em
  color _grey_dark
  text-transform uppercase 
  
.Blog-Description
  font-size _font_size
  
.Article-SubTitle
  margin 0.5em 0 0
  font-size 35px
  text-transform uppercase

.Article-Description
  text-align justify

+tablet()
  .Blog-Resume
    col(12/12)

+mobile()
  .Btn-Load
    width 87% 
    
  .Body-Loader
    width 100%
    max-width 100%
    display block 
     
  .Blog-Resume
    width 100%

  .Btn-Default
    width 100% 
    text-align center
