.Build-body
  a
    text-decoration none
  .dd-selected
    padding 0
  .dd-select
    padding 10px
  .dd-option
    padding 0
    &.dd-select
      padding 10px
  .dd-container
    .dd-option
      &:hover
        .dd-option-image
          background _sky
        label
          color _sky
    .dd-options
      li
        margin 0
    .dd-option-image
    .dd-selected-image
      max-width 35px
      background _grey
      padding 10px 

.Build-Float
  position absolute
  z-index 9

.Build-Content-Slider
  overflow hidden
  display block
  height 470px

.Build-Slider
  button
    @extend .arrows-slider
    background-color _sky
    border 0
    height 50px
    margin 0
    position absolute
    top 45%
    width 50px
    z-index 4
    &.slick-prev
      left 0
      &:before
        content "\e901"
    &.slick-next
      right 0
      &:before
        content "\e900"

.Build-Title-Text
  width 80%

.Build-Separate
  padding 10px 0
  border-top 5px solid _grey_medium
  border-bottom 5px solid _grey_medium
  display block

.Build-Map
  width 100%
  height 400px
  display block

.Build-Description
  margin-bottom 20px
  h3
    font-size 16px
    margin-bottom 0
  p
    font-size 14px
    margin 0 0 14px
  ul
    margin 0
    li
      font-size 14px

.Build-Title
  line-height 1.25em
  color _grey_dark
  i
    margin-right 5px
  small
    text-transform uppercase
    display block
  span
    display inline-block

.Build-SubTitle
  display block
  clear both

.Build-Subtitle
  border-bottom 3px solid _blue
  color _grey_dark
  small
    display block

.Build-Grid
  .medium-12
  .small-12
    width 100% !important
  .large-8
    width 65.666667%
  .large-8
  .large-4
    margin-right 1%
  .large-4
    width 32.33333333333%

.Builds-Item-Title
  bottom 101px

.Builds-Item-Summary
  margin -10px 0 10px
  p
    margin-bottom 2px

+mobile()
  .Build-body
    .Home-Rest
      bottom 93px

  .Build-Title
    span
      display inline-block
