.Home-body
  a 
    overflow hidden
    text-decoration none
    &:hover
      img 
        transition all .25s ease-in

  .Hide-Home 
    display none

  .Logo-Text
    display block
    background _sky 
    text-indent 0 
    
.Home-Content-Slider
  overflow hidden
  height 480px
  display block
  
.Home-Text-Content
  background _iron
  color _white
  margin -10px 0 0 
  padding 10px
  text-transform uppercase
  
  h3 
    margin 0 
    font-size 20px 
  p 
    font-size _font_size

.home-arrow
  display block
  position absolute
  bottom 0px
  left 35%
  width 0
  height 0
  border-style solid
  border-width 0 10px 10px 10px
  border-color transparent transparent _iron transparent
    
.Home-Rest
  position absolute
  bottom 108px
  background _sky 
  text-align center
  padding 10px
  color _white 
  h3 
    margin 0 5px 0
    font-size 22px
    display inline-block
  p 
    margin 0
    font-size 14px
    display block
  
.Home-Title
  border-bottom 5px solid _grey_medium 
  padding-bottom 15px
  text-transform uppercase
  i 
    display inline-block
    margin-right 10px
  span 
    color _grey 
    font-size 1.23em
    width 30%
    line-height 1
    display inline-block
    
.Home-Grid
  a 
    position relative
  .large-6 
    margin-left 1%
    margin-right 0
    margin-bottom 7px 
  
.Home-Subtitle-Content
  background _grey
  h4 
    color _white 
    font-size 18px
    margin -8px 0 8px
    padding 8px
    text-transform uppercase
    
.Menu-Sandwich
  display none
    
.Home-Slider
  display block
  //height 480px
  //overflow hidden
  button
    background-color transparent
    font-size 0
    margin 0
    border 0
    position absolute
    top 40%
    z-index 4
    &.slick-prev
      @extend .prev-button
      left -0
    &.slick-next
      @extend .next-button
      right -0

+between(0, _measure_tablet)
  .Body-Content
    padding 0 2%
    
  .Button-Top
    bottom initial
    position absolute
    right 10px
    top -80px  
    
+tablet()
  .Menu
    .Menu-Default
      a 
        span
          display none
      
+mobile()
  .Hide-Home
    margin -20px auto 15px 
    background _sky
    border-radius 25px
    padding 5px 0 
    z-index 45
    
  .Logo
    img 
      width 70%
      margin auto
      display block 
     
  .Logo-Text
    display none
    margin-top -33px
    
  .Menu-Sandwich
    background _grey 
    border-radius 50% 
    display inline-block
    left 7px
    padding 14px
    position relative
    cursor pointer
    top 7px
    z-index 22
    &:before
      content ""
      position absolute
      left 6px
      text-align center
      top 9px
      width 1em
      height 0.15em
      background _white
      box-shadow 0 0.25em 0 0 _white,
      0 0.5em 0 0 _white
    &:hover
      background _sky
      
  .slick-slider 
    img
      width initial
      height auto 
    button 
      display none !important
  
  .Home-Title
    span 
      width 75% 
  
  .Home-Rest
    bottom 89px
  
  .Header-Content 
    h2 
      padding-left 2%
      span 
        width 75%
        font-size 30px
     
  .footer 
    .row
      padding 0 15px 
      
  .Button-Top
    bottom inherit
    left 50%
    margin-left -22.5px
    right inherit
    top -82px
       
  .Menu
    .Menu-Default
      background _light_magent 
      display none
      top -33px
      width 50% 
      z-index 21
      padding 100px 0 60px
      a 
        display block
        padding 10px 
        .icon 
          font-size 25px
          width 45px
          height 45px
          line-height 45px
          
      &.show-menu
        display block
      
