.Body-Content-Who
  border-bottom 1px solid _grey_tiny
  &:last-child
    border-bottom 1px solid transparent  
  h3 
    text-transform uppercase
  p 
    a 
      color _sky  

.Who-body      
  .Btn-Default
    float right
    i 
      padding 10px 0 10px 10px 
      &:before
        font-size 1.5em
         
    span 
      display inline-block
      font-size 18px
      line-height 1em
      position relative
      text-transform uppercase
      top -4px

.Who-List
  position relative
  span 
    left 15em
    position absolute
  ul 
    li 
      color _grey_dark
      line-height 1.25em 
      
+mobile()

  .Who-List 
    span
      position inherit