.Zone-body
  .Button-Contact
    margin 0 auto 0
    padding 10px 20px
    span 
      position relative
      top -4px
    i.icon-phone
      font-size 1.5em
      margin-right 5px
      
.Zone-Description
  height 200px
  overflow scroll
  overflow-x auto
  
.Zone-SubTitle 
  border-bottom 1px solid _grey 
  
.Zone-SubTitleService
  color _grey_main 
  font-size 30px
  font-weight 100 
  text-transform uppercase
  
.Zone-Text
  color _grey_main
  font-size 14px
  
.Zone-Text-List
  color _grey_main
  margin 15px 0 5px 8%
  li 
    margin 0
    font-size 14px
    
.Zone-Audio
  a 
    cursor pointer
    background _sky
    border-radius 50%
    display inline-block
    height 50px
    margin-right 10px 
    position relative
    width 50px
    &:hover
      background _blue 
    i 
      border-style solid
      height 0
      left 35%  
      position absolute
      top 35%
      width 0
      
.Zone-Audio-Play
  i 
    border-width 8px 0 8px 16px
    border-color transparent transparent transparent _white
      
.Zone-Audio-Pause
  i 
    border-color transparent _white
    border-width 0 4px 0 4px
    border-style solid
    height 16px !important
    width 4px !important

.Zone-Audio-Stop
  i 
    border-color _white
    border-width 8px
    height 16px
    width 16px
          
.Zone-Row
  padding 80px 0 30px 0
  border-bottom 1px solid _grey 
  display block

.Zone-Item-Subtitle
  background _grey 
  color _white
  padding 2px 
  margin 0 
  font-size 20px

.Zone-Social
  background _sky 
  border-radius 28px 
  color _white
  margin-top 10px
  padding 45px
  text-align center
  text-align center
  
.Zone-Social-Copy 
  line-height 1em
  font-size 20px
  display table-cell
  vertical-align middle
  text-transform uppercase
  
.Zone-List
  text-align center

.Zone-Item
  list-style none
  display inline-block
  float none
  text-align center
  &.large-4
    padding 0
    margin 0 10px 0 0 
    
.Zone-Services
  h4 
    margin 0
  p 
    margin 0
    
.Zone-Slider
  height 287px
  button
    @extend .arrows-slider
    height 50px
    margin 0
    position absolute
    top 45%
    width 50px
    z-index 4
    &.slick-prev
      left 0
      &:before
        content "\e901"
    &.slick-next
      right 0
      &:before
        content "\e900" 
      
.Zone-Consult
  color _sky
  width 100% 
  font-size 0.765em
  line-height 1.25em
  font-weight 400 
  margin-right 10px
  margin-bottom 10px
  display inline-block 
  
+mobile()
  .Zone-body 
    .Button-Contact
      display block 
      margin 0 auto 10px 
      width 50%
      
  .Zone-Social
    margin-top 25px
    padding 30px 
    
  .Zone-Controls
    text-align center
    
  