//-
.Button
  border none 
  border-radius 20px
  display block 
  cursor pointer
  text-decoration none
  transition all .1s ease-in
  &:hover 
    background _grey_normal

.Button-Top
  background _grey_dark 
  border-radius 50%
  bottom 280px
  display block
  height 45px
  position absolute
  right 0
  transition all .1s ease-in
  width 45px
  z-index 8
  &:hover
    background _grey_tiny
  
.Button-Send
  @extend .Button
  background _grey_dark 
  border none 
  border-radius 0
  color _white 
  display inline-block
  padding 6px 8px
  position relative
  top 2px
  &:hover
    background complement(_grey_dark) 
  
.Btn-Default
  @extend .Button  
  background _sky
  color _white  
  display inline-block
  &:hover
    background _blue 
  i 
    display inline-block
  span
    padding 10px
    display block 
    
  &.Btn-Contact
    padding 10px 30px 10px 20px
    margin 10px -10px 20px 0 
    float right
    i 
      float left
      position relative
      top 2px
      margin-right 20px
    &:hover
      background _blue 

.Btn-Load
  @extend .Button
  background _grey_medium_tiny
  display inline-block
  width 100% 
  padding 10px 20px
  text-align center
  span
    display inline-block
    color _white 
    text-transform uppercase
  i 
    color _white 
    line-height 40px 
    &:first-child 
      float left
    &:last-child 
      float right
   
.Button-Here
  @extend .Button
  background _white
  color _sky
  font-size 24px
  font-weight 600
  margin-top 15px
  padding 5px 10px  
  text-transform uppercase 
  &:hover 
    background _grey_tiny
    color _white 
  
.Button-Continue
  @extend .Button
  text-align center
  margin 10px auto 0
  display inline-block
  background _sky
  &:hover 
    background _blue 
  span 
    font-size 0.9em
    text-transform uppercase
    cursor pointer
    color _white
    padding 10px 20px
    display block 
    
.Button-Contact 
  @extend .Button
  background _sky
  text-align center
  padding 10px 30px
  margin 20px auto
  display inline-block
  color _white 
  &:hover
    background _blue 
  &.Btn-Build
    padding 10px 20px
    background _sky
    i
      font-size 20px
      margin-right 10px
    span 
      font-size 18px
      font-weight 600 
    &:hover 
      background _blue  
   
.Button-Close 
  background _sky
  border-radius 50%
  color _white
  cursor pointer
  display table-cell
  float right
  font-family Arial 
  font-weight bold
  height 32px      
  text-align center
  vertical-align middle
  width 32px
