//-

.Logo-Text
  background _grey 
  border-radius 30px
  color _white
  display block
  font-size 1em
  height 70px
  line-height 4.5em 
  margin auto
  overflow hidden
  text-align center
  text-transform uppercase
  transition all .25s ease-in-out
  width 220px
  text-indent -9999px
  
.hide-logo
  height 55px
  font-size 0

.Hide-Home
  margin -60px auto 15px 
  display block
  position relative
  z-index 10
  width 204px 
   
.Logo 
  display block
  transition all .25s ease-in-out
  margin 110px auto 42px
  &.hide-biglogo
    display block 
    
.header
  width 100%
  &.Top-Home
    background _grey_medium 
    left 0
    position fixed
    top 0
    transition all .25s
    width 100%
    z-index 10 

  .Top-Scroll
    height 55px
    .Menu 
      .Menu-Default
        a 
          span 
            text-indent -9999px
    
.logo-white
  display block
  margin 7px auto 0
  
.Menu
  width 100% 
  .Menu-Default
    position absolute
    text-align center
    top 15px
    width 45% 
    a 
      display inline-block
      font-size _font_size
      margin 0 4%
      transition all .25s ease-in-out
      text-decoration none
      span 
        transition all .25s
        margin-top 5px
        display inline-block
        font-size _font_size 
        color _grey 
      &:hover 
        .icon 
          background _sky 
          
.Blog-body
  .Menu 
    a 
      display inline-block
      &.Menu-Blog 
        span 
          color _sky
        .icon 
          background _sky
          
.Zone-body
  .Menu 
    a 
      display inline-block
      &.Menu-Zone 
        span 
          color _sky
        .icon 
          background _sky
          
.Build-body
  .Menu 
    a 
      display inline-block
      &.Menu-Buildings 
        span 
          color _sky
        .icon 
          background _sky
          
.Who-body
  .Menu 
    a 
      display inline-block
      &.Menu-Who
        span 
          color _sky
        .icon 
          background _sky
          
.Faq-body
  .Menu 
    a 
      display inline-block
      &.Menu-Faq
        span 
          color _sky
        .icon 
          background _sky
          
.Contact-body
  .Menu 
    a 
      display inline-block
      &.Menu-Contact
        span 
          color _sky
        .icon 
          background _sky
          
.Default-Content
  padding-top 150px
  
.Header-Content
  border-bottom 2px solid _grey 
  margin-bottom 20px
  h2 
    span 
      color _grey_main 
      font-size 40px
      text-transform uppercase
      
.Body-Content
  h4 
    color _sky
  p  
    color _grey_dark 
    font-size 14px
  ul 
    li 
      font-size 14px
      
.Thanks-Content
  background _white
  border-radius 9px 
  text-align center
  width 390px
  padding 10px 10px 20px
  h4 
    color _sky
    font-size 2.35em
    margin 0 auto 0.65em
    text-align center
    text-transform uppercase
  p 
    text-align center 
    
.Social-Links 
  a 
    &:before
      color _white 
    &:hover 
      background _grey_normal 

.vineta
  font-size 50px
  color _sky 
                 
.icon
  background _grey
  border-radius 50%
  display block
  height 30px
  margin auto 
  transition all .25s
  width 30px
  color _white 
  font-size 16px
  line-height 30px

.icon-fb
  background _blue 

.icon-tw
  background _blue_sky 

.icon-pt
  background _red

.icon-yt
  background _red_dark

.icon-inst
  background _brown_normal

.footer 
  background _grey_medium 
  padding-bottom 65px
  padding-top 60px
  margin-top 85px
  .row 
    position relative
    
  h3 
    border-bottom 2px solid _grey_dark
    font-size 14px
    padding-bottom 8px
    color _grey_normal  
    i 
      font-size 20px
      margin-right 8px
  a 
    color _grey_normal 
    font-family _ruda 
    font-size _font_size
    display table
    text-decoration none
    &:hover 
      color _sky 
  p 
    font-size _font_size
    display block
    margin 0

  strong 
    font-size _font_size
    
  label
    font-size _font_size
    
.arrows-slider
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  background-color _grey 
  border 0
  color _white 
  font-family 'iconfont'
  font-size 20px
  font-style normal
  font-variant normal
  font-weight normal
  letter-spacing 1.2em
  line-height 1
  overflow hidden
  padding-left 0.7em  
  speak none
  text-transform none
    
.icon-top
  color _white
  padding-top 5px
  font-size 25px 
  line-height 33px
  text-align center
    
.hide
  display none 
  
.left 
  float left

.icon-shape
  display inline-block
  
.slider-mask
  overflow hidden
  display block