@css {

@font-face {
font-family: 'gotham_ultraregular';
src: url('../fonts/gotham-ultra_0-webfont.eot');
src: url('../fonts/gotham-ultra_0-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/gotham-ultra_0-webfont.woff') format('woff'),
     url('../fonts/gotham-ultra_0-webfont.ttf') format('truetype'),
     url('../fonts/gotham-ultra_0-webfont.svg#gotham_ultraregular') format('svg');
font-weight: normal;
font-style: normal;
}
  
@font-face {
    font-family: 'iconfont';
    src:url('../fonts/iconfont.eot?');
    src:url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.ttf?') format('truetype'),
        url('../fonts/iconfont.woff?') format('woff'),
        url('../fonts/iconfont.svg?#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e90a";
}
.icon-pinterest:before {
    content: "\e90b";
}
.icon-flickr:before {
    content: "\e90c";
}
.icon-youtube:before {
    content: "\e909";
}
.icon-arrow-bottom:before {
    content: "\e910";
}
.icon-eye:before {
    content: "\e911";
}
.icon-arrow-top:before {
    content: "\e90d";
}
.icon-arrow-left:before {
    content: "\e900";
}
.icon-arrow-right:before {
    content: "\e901";
}
.icon-blog:before {
    content: "\e902";
}
.icon-builds:before {
    content: "\e903";
}
.icon-email:before {
    content: "\e904";
}
.icon-logo:before {
    content: "\e905";
}
.icon-phone:before {
    content: "\e906";
}
.icon-faq:before {
    content: "\e907";
}
.icon-who:before {
    content: "\e908";
}
.icon-instagram:before {
    content: "\e90e";
}
.icon-twitter:before {
    content: "\e90f";
}



}
