//-

form 
  label
    &.error
      color red 

.Suscribe-Form
  .form-element
    display inline-block
    width 80% 
  input[type="email"] 
    background _white
    border-top 2px solid _grey_default
    font-family _ruda 
    font-size _font_size
    height 20px 
    padding 5px
    width 100%
  label
    &.error
      position absolute
      bottom -20px
      left 0
      
.Form-Content
  background _light_magent 
  width 100%
   
.Custom-Form
  padding 10px 0
  display block
  .form-element
    display inline-block
    width 100% 
  label
    padding-top 10px
    display block
    font-size 14px
    &.error 
      font-size 11px
  input
    display inline-block
    width 100% 
    padding 5px 
  button
    margin 10px 0 20px 
  textarea 
    border 1px solid _grey_default 
    font-size _font_size
    padding 5px 
    min-height 144px 
    resize none
    width 100%
    
.custom-select
  //margin 15px
  background-color _iron
  border 1px solid transparent
  color _white
  overflow hidden
  padding 10px 
  position absolute
  width 300px
  z-index 9
  select
    -moz-appearance none
    appearance none
    background-color transparent
    background-image none
    border none
    box-shadow none
    color _white 
    // padding 5px 8px
    width 130%
    &:focus
      outline none
  option
    font-family _ruda
    font-size 16px
    padding 10px
    
+desktop()
  .Contact-body
    .Custom-Form
      .large-5
        margin-right 5%
        width 44.916667% 