body
html
  margin 0
  padding 0
  border 0
  
body 
  font-family _ruda 
  color _black 
  background _white url("../images/bg-main.png") repeat

ul 
  padding 0
  li 
    display block  
    list-style none
    margin 0 1.5em
    a 
      color _grey 
      text-decoration none
      &:hover
        text-decoration none
        color _sky 
