//-

//edit()
  
.First-Nav
  float left
  left 0
  
.Second-Nav
  float right
  right 0
  
ul.Social-Links
  li 
    display inline-block
    text-align center
    margin 0 5px
    a 
      transition all 0.2s ease-in-out
      font-size 16px 
      color _white  
      &:hover 
        background-color _grey_light
        color _white 