.file-input-name {margin: 5px 0; display: block;}
.progress{margin:0;}
.ajaxfile{display:none;}
#mytable_wrapper{margin-top:15px;}
.fila {margin-bottom:8px;}
#container-images .fila .row .img-work, #container-images .fila .row .img-work img {width:100%;}

.home a{display:block; text-align:center;}
.home .glyphicon {font-size:60px;display:block;}
.home .label {clear: both;
display: block;
color: #777;
font-size: 12px;
font-weight: 100;
padding: 12px 0 20px;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
background-image: -webkit-linear-gradient(top, #dbdbdb 0, #e2e2e2 100%);
background-image: -o-linear-gradient(top, #dbdbdb 0, #e2e2e2 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dbdbdb), to(#e2e2e2));
background-image: linear-gradient(to bottom, #dbdbdb 0, #e2e2e2 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
}

textarea {resize:none;}
.change_picture, .remove_picture{margin-top:5px; display:block;}
#image-container{display:none;}
